<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			The Elite
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="welcome-card" (click)="router.navigateByUrl('/level-select/goldeneye')">
		<ion-card-header>
			<ion-card-title class="welcome-button">
				<img class="head-img" src="../../assets/bond.png" />
				<span class="head-text">GoldenEye</span>
			</ion-card-title>
		</ion-card-header>
	</ion-card>

	<ion-card class="welcome-card" (click)="router.navigateByUrl('/level-select/perfectdark')">
		<ion-card-header>
			<ion-card-title class="welcome-button">
				<span class="head-text">Perfect Dark</span>
				<img class="head-img" src="../../assets/dark.png" />
			</ion-card-title>
		</ion-card-header>
	</ion-card>

	<div class="welcome-message-container">
		<div class="welcome-text-body">Welcome to </div>
		<div class="welcome-text-head">The Elite</div>
		<div class="welcome-text-body">A GoldenEye 64 and Perfect Dark speedrunning companion</div>
		<div class="welcome-text-instruction">Choose a game above to get started.</div>
	</div>

</ion-content>