.welcome-card {
	border-width: 1px;
	border: grey;
	border-style: solid;
	text-align: center;
	cursor: pointer;
}

.welcome-button {
	display: flex;
	align-items: center;
	font-size: 32px;
}

.head-img {
	height: 76px;
	width: 100px;
}

.head-text {
	width: 100%;
}

.welcome-text-body {
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 18px;
	text-align: center;
}

.welcome-text-head {
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	font-weight: bolder;
	font-size: 56px;
	text-align: center;
}

.welcome-message-container {
	padding-top: 10%;
}

.welcome-text-instruction {
	position: absolute;
	bottom: 5%;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 18px;
	text-align: center;
}
