<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			The Elite
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="welcome-card" (click)="router.navigateByUrl('/level-select')">
		<ion-card-header>
			<ion-card-title>GoldenEye</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			Speedrun rankings
		</ion-card-content>
	</ion-card>

	<ion-card class="welcome-card" (click)="router.navigateByUrl('/level-select')">
		<ion-card-header>
			<ion-card-title>Perfect Dark</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			Speedrun rankings
		</ion-card-content>
	</ion-card>
</ion-content>
